@import './src/styles.sass'

.mat-toolbar
    @include ph(6em, 6em)
    position: fixed
    z-index: 1
    overflow-x: 0
    overflow-y: 0
    top: 0
    background-color: $base-color
    box-shadow: rgba(#000000, 0.1) 0px 4px 11px
    @media screen and ( max-width: $tablet ) 
        @include ph(1em, 1em)

    .left-side
        height: 100% !important
        @include flex(row, center)
        span
            font-family: $generic-font
            font-size: 30px
            margin-right: 2em
            align-self: center
            cursor: pointer
            @media screen and ( max-width: $phone ) 
                display: none

        .mat-form-field
            align-self: center
            font-family: $generic-font
            color: $secundary-color
            font-size: 16px
            .icon-placeholder
                margin-right: 16px
                cursor: pointer
    .right-side
        height: 100%
        @include flex(row, center)
        button
            @include clearButton()
            align-self: center !important
            margin-right: 2em
            font-family: $generic-font
            font-size: 20px
            @media screen and ( max-width: $phone )
                margin-right: 0px
            p
                margin-bottom: 0px
                @media screen and ( max-width: $phone )
                    display: none
            i
                font-size: 30px
                @media screen and ( max-width: $phone )
                    @include mh(2px, 4px)
.avatar-container
    align-self: center !important
    @include mh(16px, null)
    button
        @include clearButton()
    .avatar-img
        vertical-align: middle
        width: 40px
        height: 40px
        border-radius: 50%
        @media screen and ( max-width: $phone )
            @include mh(16px, 8px)
::ng-deep .menu-not
    @media screen and ( max-width: $phone )
        @include mh(null,16px)
    button:focus
        outline: 0
    button
        @include pv(4px, 4px)
        @include ph(14px, 10px)
    i
        font-size: 16px
        @include ph(4px, 10px)
        margin-right: 4px