<div class="base">
  <div class="books-container" *ngIf="booksLength">
    <mat-grid-list
      [cols]="breakpoint"
      [rowHeight]="rowHeight"
      (window:resize)="onResize($event)"
    >
      <mat-grid-tile *ngFor="let ejemplar of ejemplares">
        <app-book-card [ejemplar]="ejemplar"></app-book-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="noBooks" *ngIf="!booksLength">
    <span class="sad">
      😢
    </span>
    <span class="message">
      ¡Lo sentimos! No hemos podido encontrar libros
    </span>
  </div>
</div>
