<div class="card-container">
  <p>{{ ejemplar.libro.titulo }}</p>
  <mat-card>
    <img mat-card-image src="{{ ejemplar.libro.portada.url }}" />
    <mat-card-content>
      <div class="info" id="{{ejemplar.ejemplarID}}">
        <span>{{ ejemplar.libro.autor }}</span>
        <span>S/ {{ ejemplar.libro.precio }}</span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="addToCart(ejemplar)">Agregar al carrito <i class="fa fa-cart-plus" aria-hidden="true"></i></button>
    </mat-card-actions>
  </mat-card>
</div>
